<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('#gsrBtn').text('@ViewBag.BtnLabel');
        });

        function getShortestRoute() {
            var origin = $('#origin').val();
            var destination = $('#destination').val();
            $.ajax({
                url: 'api/route/getshortestroute',
                data: { origin: origin, destination: destination }
            }).done(function (data) {
                $('#results').empty();
                console.log(data);
            }).fail(function (error) {
                var errorMsg = error.responseJSON.ExceptionMessage || error.responseJSON;
                $('#results').empty().text(errorMsg);
            });
        }
    </script>
</head>
<body>
    @RenderBody()
</body>
</html>
